h1{
  font-style: normal;
  font-weight: 700;
  font-size: 2.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  letter-spacing: 0.15em;
  color: #FFFFFF;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.teaminfo-header{
  display: flex;
  justify-content: space-around;
}
.teaminfo-logo{
  height: 125px;
  width: 125px;
  align-self: center;
}
.teaminfo-teamname{
  text-align: center;
  min-width: 75%;
  font-style: normal;
  font-weight: 700;
  font-size: 72px;
  line-height: 88px;
  letter-spacing: 0.15em;
  color: #FFFFFF;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin: 25px 0;
}
.teaminfo-nav{
  display: flex;
  justify-content: space-around;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  padding: 10px 0;
  transition: 0.25s;
  box-shadow: inset 0px 5px 5px rgba(0, 0, 0, 0.25), inset 0px -5px 5px rgba(0, 0, 0, 0.25);
}
.teaminfo-nav a{
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
    text-shadow:
        -1px -1px 0 black,
        1px -1px 0 black,
        -1px  1px 0 black,
        1px  1px 0 black;
}
.teaminfo-nav a:hover{
  text-decoration: underline 2px #FFFFFF;
  text-underline-offset: 5px;
}
