.team-stats{
    display: grid;
    grid-template-columns: 20vw 50vw;
    gap: 5vw;
    justify-self: center;
    justify-content: center;
    max-width: 1400px;
}
.team-stats h1{
    font-style: normal;
    font-weight: 700;
    font-size: 2.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    letter-spacing: 0.15em;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.team-info-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 90%;
    justify-self: center;
    margin-top: 100px;
}
.team-info-grid > div{
    height: 75px;
}
.team-info-grid > div:nth-child(odd){
    border-right: 2px solid #D9D9D9;
}
.team-info-grid > div:nth-child(n + 3){
    border-bottom: none;
}
.full-team-stats-grid{
    display: grid;
    grid-template-columns: repeat(7,1fr);
}
.full-team-stats-grid > div{
    border-right: 2px solid #D9D9D9;
    min-height: 25px;
}
.full-team-stats-grid > div:nth-child(n + 8){
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 55px;
}
.full-team-stats-grid > div:nth-child(7n){
    border-right: none;
}
.full-team-stats-grid > div:nth-child(n + 15){
    border-bottom: none;
}
.full-team-stats-grid > div:nth-child(n + 8) .light-italic{
    padding: 0 5px;
}
.team-shooting-grid{
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}
.team-shooting-grid > div{
    border-right: 2px solid #D9D9D9;
    min-height: 25px;
}
.team-shooting-grid > div:nth-child(5n){
    border-right: none;
}
.team-shooting-grid > div:nth-child(n + 11){
    border-bottom: none;
}
.team-shooting-grid div > div{
    display: flex;
    align-items: center;
    justify-content: center;
}
.team-shooting-grid div > div h3{
    padding: 0;
    margin: 5px 0;
}
.team-shooting-grid > div{
    align-content: center;
}
.team-shooting-grid div > .light-italic{
    padding: 2px 0;
}
.team-shooting-grid div > div .light-italic{
    padding: 0 5px;
}